<h1> formulario prueba </h1>
    <form method = 'get' action ='/posts/create' id = 'create_posts'>
        title<input name="title">
        image_url<input name="image_url">
        content<input name="content">
        <input type="submit" value="Submit">
    </form>